{% trans_default_domain 'FOSUserBundle' %}
{% extends "base_yun.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/login_page.css') }}"/>
{% endblock %}
{% set bg_image = 'bg-image--12' %}
{% set bradcaump_title = 'layout.login'|trans %}
{% set breadcrumb_item = 'layout.login'|trans %}
{% block content %}

    <div class="login-container text-center">
        {% if error %}
            <div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('fos_user_security_check') }}" method="post" class="login-form">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <div class="login-input-line row">
                <label for="username" class="col-sm-4 col-md-4">{{ 'summury.login.email_or_username'|trans({},'Yunkun') }}</label>
                <input type="text" id="username" name="_username" class="col-sm-8 col-md-8" value="{{ last_username }}" required="required" autocomplete="username"/>
            </div>

            <div class="login-input-line row">
                <label for="password" class="col-sm-4 col-md-4">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" class="col-sm-8 col-md-8" required="required" autocomplete="current-password"/>
            </div>

            <div class="login-input-line">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="remember_me"/>
                <label for="remember_me" class="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            </div>
            <a href="/resetting/request" class="pr__btn">{{ 'resetting.request.submit'|trans }}</a>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="pr__btn green__btn"/>
        </form>
    </div>
{% endblock %}