{% trans_default_domain 'FOSUserBundle' %} 
{% extends 'base_yun.html.twig' %} 
{% block title %}{{'title.fos_user.reset'|trans({},'Yunkun')}}{% endblock %}
{% block stylesheets %} 
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/pages/reset_page.css') }}" /> 
{% endblock %} 
{% set bg_image = 'bg-image--12' %}
{% set bradcaump_title = 'reset_page.title1'|trans({},'Yunkun') %} 
{% set breadcrumb_item = 'reset_page.title2'|trans({},'Yunkun') %} 
{% block content %}
<!-- Start Request PAge -->
<div class="request_container">
    <p>
        {{ 'resetting.check_email1'|trans }}
    </p>
    <p>
        {{ 'resetting.check_email2'|trans }}
    </p>
</div>
<!-- End Request PAge -->
{% endblock %}