{% trans_default_domain 'Yunkun' %}
{% extends 'base_yun.html.twig' %}
{% block title %}Yunkun Contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/contact_page.css') }}"/>
{% endblock %}
{% set bg_image = 'bg-image--7' %}
{% set bradcaump_title = 'summury.contactus'|trans %}
{% set breadcrumb_item = 'summury.contactus'|trans %}
{% block content %}
<!-- Start Contact Area -->
    <div class="yunkun__contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="contact__form">
                        <h2 class="ct__title">{{'contact_page.contactus'|trans}}</h2>
                        {{ form_start(form) }}
                            <div class="single-contact-form space-between">
                                {{ form_widget(form.contact_username, {'attr': {'placeholder': 'contact_page.username'}}) }}
                                {{ form_widget(form.contact_email, {'attr': {'placeholder': 'contact_page.email'}}) }}
                            </div>
                            <div class="single-contact-form">
                                {{ form_widget(form.contact_subject, {'attr': {'placeholder': 'contact_page.subject'}}) }}
                            </div>
                            <div class="single-contact-form message">
                                {{ form_widget(form.contact_message, {'attr': {'placeholder': 'contact_page.message'}}) }}
                            </div>
                            <div class="contact-btn">
                                <input type="submit" class="pr__btn" value="{{'contact_page.btn'|trans}}">
                            </div>
                        {{ form_end(form) }}
                        <div class="contact__msg__line">
                            <p class="contact__msg">{{'contact_page.email_direct'|trans}}&nbsp;:&nbsp;<a href="mailto:contact@yunkun.org">contact@yunkun.org</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 sm-mt--30 md-mt--30">
                    <div class="text-center">
                        <img src="{{ asset('images/bg/10.jpg') }}" style="max-height:500px;max-width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
{% endblock %}