{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base_yun.html.twig' %}
{% block title %}Yunkun CV{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/cv_page.css') }}"/>
{% endblock %}

{% set bradcaump_title = 'cv_page.title1'|trans %}
{% set breadcrumb_item = 'cv_page.title2'|trans %}
{% block content %}
    <!-- Start About Area -->
    <section class="pr__about__area">
            <div class="container-fluid">
                <div class="row no-gutters about__inner align-items-center">
                    <div class="col-lg-5 col-xl-6 col-md-12 col-sm-12">
                        <div class="thumb">
                            <img src="{{ asset('images/cv/1.jpg') }}" alt="yunkun blog">
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-6 col-md-12 col-sm-12">
                        <div class="content">
                            <h2>{{'cv_page.yun'|trans}}&nbsp;&amp;&nbsp;{{'cv_page.kun'|trans}}</h2>
                            <p class="text-left">{{'cv_page.presentation1'|trans}}<br>{{'cv_page.presentation2'|trans}}<br>{{'cv_page.presentation3'|trans}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->
        <!-- Strat CounterUp Area -->
        <section class="pr__counterup">
            <div class="countainer-fluid">
                <div class="row no-gutters">
                    <!-- Start Single Count -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="counterup">
                            <div class="icon">
                                <img src="{{ asset('images/icons/1.png') }}" alt="yunkun blog">
                            </div>
                            <div class="content">
                                <span class="count">76</span>
                                <h6>{{'cv_page.counterup1'|trans}}</h6>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Count -->
                    <!-- Start Single Count -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="counterup bg--2">
                            <div class="icon">
                                <img src="{{ asset('images/icons/2.png') }}" alt="yunkun blog">
                            </div>
                            <div class="content">
                                <span class="count">{{count_date}}</span>
                                <h6>{{'cv_page.counterup2'|trans}}</h6>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Count -->
                    <!-- Start Single Count -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="counterup">
                            <div class="icon">
                                <img src="{{ asset('images/icons/3.png') }}" alt="yunkun blog">
                            </div>
                            <div class="content">
                                <span class="count">2560</span>
                                <h6>{{'cv_page.counterup3'|trans}}</h6>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Count -->
                    <!-- Start Single Count -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="counterup bg--2">
                            <div class="icon">
                                <img src="{{ asset('images/icons/4.png') }}" alt="yunkun blog">
                            </div>
                            <div class="content">
                                <span class="count">127</span>
                                <h6>{{'cv_page.counterup4'|trans}}</h6>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Count -->
                </div>
            </div>
        </section>
        <!-- End CounterUp Area -->
        <!-- Start Progress Bar -->
        <section class="pr__progress">
            <div class="container-fluid">
                <div class="row no-gutters align-items-center">
                    <div class="col-lg-6">
                        <div class="skill-container">
                            <h3>{{'cv_page.yun_skills.title'|trans}}</h3>
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>{{'cv_page.yun_skills.skill1'|trans}}</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                        <span class="pen-lable">85%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>{{'cv_page.yun_skills.skill2'|trans}}</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span class="pen-lable">90%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>{{'cv_page.yun_skills.skill3'|trans}}</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span class="pen-lable">95%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>{{'cv_page.yun_skills.skill4'|trans}}</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width:97%">
                                        <span class="pen-lable">97%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>{{'cv_page.yun_skills.skill5'|trans}}</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                        <span class="pen-lable">70%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="thumb">
                            <img src="{{ asset('images/cv/2.jpg') }}" alt="yunkun blog">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Progress Bar -->
        <!-- Start Progress Bar -->
        <section class="pr__progress">
            <div class="container-fluid">
                <div class="row no-gutters align-items-center">
                    <div class="col-lg-6">
                        <div class="thumb">
                            <img src="{{ asset('images/cv/3.jpg') }}" alt="yunkun blog">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="skill-container">
                            <h3>{{'cv_page.kun_skills.title'|trans}}</h3>
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>{{'cv_page.kun_skills.skill1'|trans}}</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span class="pen-lable">90%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>{{'cv_page.kun_skills.skill2'|trans}}</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span class="pen-lable">95%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>{{'cv_page.kun_skills.skill3'|trans}}</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                        <span class="pen-lable">85%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>{{'cv_page.kun_skills.skill4'|trans}}</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                        <span class="pen-lable">75%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single-skill">
                                <p>{{'cv_page.kun_skills.skill5'|trans}}</p>
                                <div class="progress">
                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                        <span class="pen-lable">65%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Progress Bar -->
        <!-- Start Testimonil Area -->
        <div class="yunkun__testimonial bg-image--8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial__active owl-carousel owl-theme poss--relative">
                            <!-- Start Single Testimonial -->
                            <div class="testimonial">
                                <img src="{{ asset('images/icons/quote.png') }}" alt="yunkun blog">
                                <p>With no doubt when designing a complex website you will face issues with the compatibility of the theme specially when installing new extensions. You could debate whether it is an issue of the theme or a new extension. PlazaThemes support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
                                <div class="clint">
                                    <span class="clint_name">Jefrey Barlow</span>
                                    <span class="separator">-</span>
                                    <span>Sales manager</span>
                                </div>
                            </div>
                            <!-- End Single Testimonial -->
                            <!-- Start Single Testimonial -->
                            <div class="testimonial">
                                <img src="{{ asset('images/icons/quote.png') }}" alt="yunkun blog">
                                <p>With no doubt when designing a complex website you will face issues with the compatibility of the theme specially when installing new extensions. You could debate whether it is an issue of the theme or a new extension. PlazaThemes support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
                                <div class="clint">
                                    <span class="clint_name">Jefrey Barlow</span>
                                    <span class="separator">-</span>
                                    <span>Sales manager</span>
                                </div>
                            </div>
                            <!-- End Single Testimonial -->
                            <!-- Start Single Testimonial -->
                            <div class="testimonial">
                                <img src="{{ asset('images/icons/quote.png') }}" alt="yunkun blog">
                                <p>With no doubt when designing a complex website you will face issues with the compatibility of the theme specially when installing new extensions. You could debate whether it is an issue of the theme or a new extension. PlazaThemes support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
                                <div class="clint">
                                    <span class="clint_name">Jefrey Barlow</span>
                                    <span class="separator">-</span>
                                    <span>Sales manager</span>
                                </div>
                            </div>
                            <!-- End Single Testimonial -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonil Area -->
{% endblock %}