{% trans_default_domain 'FOSUserBundle' %} 
{% extends 'base_yun.html.twig' %} 
{% block stylesheets %} 
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/pages/index_page.css') }}" /> 
{% endblock %} 
{% block header %} 
<!-- Start Header Area -->
<header class="header pr__header ">
    <!-- Start Header Top -->
    <div class="pr__header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-none d-lg-block">
                    <nav>
                        <ul class="mainmenu">
                            <li>
                                <a href="/">{{'summury.home'|trans}}</a>
                            </li>
                            {#<li>
                                <a href="/AboutUs">{{'summury.aboutus'|trans}}</a>
                            </li>#}
                            {% if app.user %} {% if app.user.roles[0] == 'ROLE_SUPER_ADMIN' or app.user.roles[0] == 'ROLE_ADMIN' %}
                            <li class="drop">
                                <a href="/Blog">{{'summury.blog'|trans}}</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="/Blog/AddBlog" class="add-blog-link drop_a">{{'summury.addblog'|trans}}</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li>
                                <a href="/Blog">{{'summury.blog'|trans}}</a>
                            </li>
                            {% endif %} {% else %}
                            <li>
                                <a href="/Blog">{{'summury.blog'|trans}}</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/Projects">{{'summury.projects'|trans}}</a>
                            </li>
                            <li>
                                <a href="/CV">{{'summury.cv'|trans}}</a>
                            </li>
                            <li>
                                <a href="/Contact">{{'summury.contactus'|trans}}</a>
                            </li>
                            <li class="drop">
                                <a>{{'summury.lang'|trans}}</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'zh_CN'})) }}" class="drop_a">
                                            <img src="{{ asset('images/flag/CN.png') }}" class="flag">中文</a>
                                    </li>
                                    <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}" class="drop_a">
                                            <img src="{{ asset('images/flag/FR.png') }}" class="flag">Français</a>
                                    </li>
                                    <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="drop_a">
                                            <img src="{{ asset('images/flag/EN.png') }}" class="flag">English</a>
                                    </li>
                                </ul>
                            </li>
                            {% if not app.user %}
                            <li>
                                <a href="/login">{{'layout.login'|trans}}</a>
                            </li>
                            {% elseif app.user %}
                            <li class="drop">
                                <a>
                                    <b>{{'summury.admin.text1'|trans({'%firstname%': app.user.firstname, '%lastname%': app.user.lastname},
                                        'FOSUserBundle')}}</b>
                                </a>
                                <ul class="dropdown">
                                    <li>
                                        <a class="drop_a">{{'summury.admin.text2'|trans({'%lastlogin%': app.user.lastLogin|date('Y-m-d H:i:s')},
                                            'FOSUserBundle')}}
                                            <br> {{'summury.admin.text3'|trans}}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/profile" class="drop_a">{{'user_page.title1'|trans}}</a>
                                    </li>
                                    <li>
                                        <a href="/logout" class="drop_a">{{'layout.logout'|trans}}</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %} {#
                            <li class="drop">
                                <a href="#">Pages à supprimer</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="#">博客内容页面</a>
                                    </li>
                                    <li>
                                        <a href="#">faq Page</a>
                                    </li>
                                    <li>
                                        <a href="/NotFound">404 Page</a>
                                    </li>
                                </ul>
                            </li> #}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row  d-none">
                <div class="col-lg-12">
                    <nav class="mobilemenu__nav">
                        <ul>
                            <li>
                                <a href="/">{{'summury.home'|trans}}</a>
                            </li>
                            {#<li>
                                <a href="/AboutUs">{{'summury.aboutus'|trans}}</a>
                            </li>#}
                            {% if app.user %} {% if app.user.roles[0] == 'ROLE_SUPER_ADMIN' or app.user.roles[0] == 'ROLE_ADMIN' %}
                            <li class="drop">
                                <a href="/Blog">{{'summury.blog'|trans}}</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="/Blog/AddBlog" class="add-blog-link drop_a">{{'summury.addblog'|trans}}</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li>
                                <a href="/Blog">{{'summury.blog'|trans}}</a>
                            </li>
                            {% endif %} {% else %}
                            <li>
                                <a href="/Blog">{{'summury.blog'|trans}}</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/Projects">{{'summury.projects'|trans}}</a>
                            </li>
                            <li>
                                <a href="/CV">{{'summury.cv'|trans}}</a>
                            </li>
                            <li>
                                <a href="/Contact">{{'summury.contactus'|trans}}</a>
                            </li>
                            <li class="drop">
                                <a>{{'summury.lang'|trans}}</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'zh_CN'})) }}" class="drop_a">
                                            <img src="{{ asset('images/flag/CN.png') }}" class="flag">中文</a>
                                    </li>
                                    <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}" class="drop_a">
                                            <img src="{{ asset('images/flag/FR.png') }}" class="flag">Français</a>
                                    </li>
                                    <li>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="drop_a">
                                            <img src="{{ asset('images/flag/EN.png') }}" class="flag">English</a>
                                    </li>
                                </ul>
                            </li>
                            {% if not app.user %}
                            <li>
                                <a href="/login">{{'layout.login'|trans}}</a>
                            </li>
                            {% elseif app.user %}
                            <li class="drop">
                                <a>
                                    <b>{{'summury.admin.text1'|trans({'%firstname%': app.user.firstname, '%lastname%': app.user.lastname},
                                        'FOSUserBundle')}}</b>
                                </a>
                                <ul class="dropdown">
                                    <li>
                                        <a class="drop_a">{{'summury.admin.text2'|trans({'%lastlogin%': app.user.lastLogin|date('Y-m-d H:i:s')},
                                            'FOSUserBundle')}}
                                            <br> {{'summury.admin.text3'|trans}}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/profile" class="drop_a">{{'user_page.title1'|trans}}</a>
                                    </li>
                                    <li>
                                        <a href="/logout" class="drop_a">{{'layout.logout'|trans}}</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="mobile-menu d-block d-lg-none"></div>
            <!-- Mobile Menu -->
        </div>
    </div>
    <!-- End Header Top -->
</header>
<!-- End Header Area -->
{% endblock %} {% block Bradcaump %}{% endblock %} {% block content %}
<!-- Start Slider Area -->
<div class="pr__slider__area bg--cart-2">
    <!-- Start Header Mid -->
    <div class="yunkun__logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="/">
                            <img src="{{ asset('images/logo/yunkun_logo.png') }}" class="index-logo" alt="yunkun blog">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Mid -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="activation--1 owl-carousel owl-theme poss--relative">
                    {% if blogs|length > 3 %}
                    <!-- Start Single Slide -->
                    <div class="slide bg-image--1 slider__fixed--height">
                        <div class="slide__inner">
                            <div class="contentbox">
                                <h1>{{blogs[1]['title']}}</h1>
                                <p>{{blogs[1]['pre_html']|raw}}</p>
                                <a class="slider__btn pr__btn btn--large" href="/Blog/Blog-detail/{{blogs[1]['title']}}">{{'index_page.readmore'|trans}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Slide -->
                    <!-- Start Single Slide -->
                    <div class="slide bg-image--2 slider__fixed--height">
                        <div class="slide__inner">
                            <div class="contentbox">
                                <h1>{{blogs[2]['title']}}</h1>
                                <p>{{blogs[2]['pre_html']|raw}}</p>
                                <a class="slider__btn pr__btn btn--large" href="/Blog/Blog-detail/{{blogs[2]['title']}}">{{'index_page.readmore'|trans}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Slide -->
                    <!-- Start Single Slide -->
                    <div class="slide bg-image--3 slider__fixed--height">
                        <div class="slide__inner">
                            <div class="contentbox">
                                <h1>{{blogs[3]['title']}}</h1>
                                <p>{{blogs[3]['pre_html']|raw}}</p>
                                <a class="slider__btn pr__btn btn--large" href="/Blog/Blog-detail/{{blogs[3]['title']}}">{{'index_page.readmore'|trans}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Slide -->
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area -->
<!-- Start Blog Area -->
<div id="particles-js"></div>
<div class="pr__blog__area ptb--60">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="pr__blog__wrapper">
                    <!-- Start Single Blog -->
                    {% for blog in blogs | reverse %} {% if loop.index == 1 %}
                    <article class="blog">
                        <div class="title">
                            <span>{{blog['category']}}</span>
                            <h4>
                                <a href="/Blog/Blog-detail/{{blog['title']}}">{{blog['title']}}</a>
                            </h4>
                            <ul>
                                <li>{{'index_page.blog_author'|trans}} {{blog['author']}}</li>
                                <li>{{blog['post_date']|date('Y-m-d')}}</li>
                            </ul>
                        </div>
                        <div class="thumb text-center">
                            <a href="/Blog/Blog-detail/{{blog['title']}}">
                                <img src="{{ asset('uploads/images/blog/' ~ blog['image']) }}" alt="yunkun blog" style="max-height:800px;max-width:100%">
                            </a>
                        </div>
                        <div class="content text-justify">
                            {{blog['pre_html']|raw}} ...
                        </div>
                        <div class="blog__btn">
                            <a class="pr__btn green__btn" href="/Blog/Blog-detail/{{blog['title']}}">{{'index_page.readmore'|trans}}</a>
                        </div>
                        <div class="blog__footer">
                            <div class="share">
                                {% if not blog['edit_date']|date('Y-m-d H:i:s') is same as(blog['post_date']|date('Y-m-d H:i:s')) or not blog['editor'] is
                                same as(blog['author']) %}
                                <p>{{'index_page.edited'|trans}} {{blog['edit_date']|date('Y-m-d H:i:s')}} {{'index_page.by'|trans}}
                                    {{blog['editor']}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </article>
                    <!-- End Single Blog -->
                    {% endif %} {% endfor %} {% for blog in blogs | reverse %}
                    <!-- Start Blog Area -->
                    {% if loop.index != 1 and loop.index
                    <=3 %} {% if loop.index%2==0 %} <article class="blog--2">
                        <div class="thumb text-left">
                            <a href="/Blog/Blog-detail/{{blog['title']}}">
                                <img src="{{ asset('uploads/images/blog/' ~ blog['image']) }}" alt="yunkun blog" style="max-height:400px;max-width:100%">
                            </a>
                        </div>
                        <div class="content">
                            <div class="blog__top">
                                <p>{{blog['category']}}</p>
                                <ul>
                                    <li>{{'index_page.blog_author'|trans}} {{blog['author']}}</li>
                                    <li>{{blog['post_date']|date('Y-m-d')}}</li>
                                </ul>
                            </div>
                            <h4>
                                <a href="/Blog/Blog-detail/{{blog['title']}}">{{blog['title']}}</a>
                            </h4>
                            <div class="text-justify">{{blog['pre_html']|raw}} ...</div>
                            <div class="blog__btn">
                                <a class="pr__btn green__btn btn__index__portal" href="/Blog/Blog-detail/{{blog['title']}}">{{'index_page.readmore'|trans}}</a>
                            </div>
                        </div>
                        </article>
                        {% else %}
                        <article class="blog--2 align__right">
                            <div class="content">
                                <div class="blog__top">
                                    <p>{{blog['category']}}</p>
                                    <ul>
                                        <li>{{'index_page.blog_author'|trans}} {{blog['author']}}</li>
                                        <li>{{blog['post_date']|date('Y-m-d')}}</li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="/Blog/Blog-detail/{{blog['title']}}">{{blog['title']}}</a>
                                </h4>
                                <div class="text-justify">{{blog['pre_html']|raw}} ...</div>
                                <div class="blog__btn">
                                    <a class="pr__btn green__btn btn__index__portal" href="/Blog/Blog-detail/{{blog['title']}}">{{'index_page.readmore'|trans}}</a>
                                </div>
                            </div>
                            <div class="thumb text-right">
                                <a href="/Blog/Blog-detail/{{blog['title']}}">
                                    <img src="{{ asset('uploads/images/blog/' ~ blog['image']) }}" alt="yunkun blog" style="max-height:400px;max-width:100%">
                                </a>
                            </div>
                        </article>
                        {% endif %}
                        <!-- End Blog Area -->
                        {% endif %} {% endfor %}
                        <!-- Start Banner Area -->
                        <div class="pn__banner__area">
                            <a href="/Blog">
                                <img src="{{ asset('images/bg/4.jpg') }}" alt="yunkun blog">
                            </a>
                        </div>
                        <!-- End Banner Area -->
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 md-mt--60 sm-mt--60">
                <div class="pr__sidebar">
                    <!-- Start Search Area -->
                    {#
                    <div class="single__wedget pr__search">
                        <h2>搜索博客</h2>
                        <div class="input__box">
                            <input type="text">
                            <button>搜索</button>
                        </div>
                    </div> #}
                    <!-- End Search Area -->
                    <!-- Start Youtube Area -->
                    <div class="single__wedget pr__youtube">
                        <a href="https://www.youtube.com/channel/UCakxdwbHN4BGRdrwtGlMHPA" target="_blank">
                            <h2>{{'index_page.youtube'|trans}}</h2>
                        </a>
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Gp0lnDZc9qw" frameborder="0" allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                    </div>
                    <!-- End Youtube Area -->
                    <!-- Start Post Area -->
                    <div class="single__wedget pr__post">
                        <h2>{{'index_page.recent'|trans}}</h2>
                        {% for blog in blogs | reverse %} {% if loop.index == 1 %}
                        <div class="recent__post single__post">
                            <div class="thumb">
                                <a href="/Blog/Blog-detail/{{blog['title']}}">
                                    <img src="{{ asset('uploads/images/blog/' ~ blog['image']) }}" alt="yunkun blog">
                                </a>
                            </div>
                            <div class="content">
                                <h4>
                                    <a href="/Blog/Blog-detail/{{blog['title']}}">{{blog['title']|raw}}</a>
                                </h4>
                                <span>{{blog['post_date']|date('Y-m-d')}}</span>
                            </div>
                        </div>
                        {% endif %} {% endfor %}
                        <div class="sm__post__wrap">
                            {% for blog in blogs | reverse %} {% if loop.index
                            <=5 and loop.index !=1 %} <div class="recent__post">
                                <div class="thumb">
                                    <a href="/Blog/Blog-detail/{{blog['title']}}">
                                        <img src="{{ asset('uploads/images/blog/' ~ blog['image']) }}" alt="yunkun blog">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="/Blog/Blog-detail/{{blog['title']}}">{{blog['title']|raw}}</a>
                                    </h4>
                                    <span>{{blog['post_date']|date('Y-m-d')}}</span>
                                </div>
                        </div>
                        {% endif %} {% endfor %}
                    </div>
                    <a class="blog__btn__index__portal pr__btn text-center" href="/Blog">{{'index_page.more_blog'|trans}}</a>
                </div>
                <!-- End Post Area -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Blog Area -->
{% endblock %} {% block javascripts %} {{ parent() }}
<script src="{{ asset('js/particles.js') }}"></script>
<script>        
        particlesJS("particles-js", {
            "particles": {
              "number": {
                "value": 100,
                "density": {
                  "enable": true,
                  "value_area":600
                }
              },
              "color": {
                "value": ["#aa73ff", "#f8c210", "#83d238", "#33b1f8"]
              },
              
              "shape": {
                "type": "circle",
                "stroke": {
                  "width": 0,
                  "color": "#fff"
                },
                "polygon": {
                  "nb_sides": 5
                },
                
              },
              "opacity": {
                "value": 0.8,
                "random": false,
                "anim": {
                  "enable": false,
                  "speed": 1,
                  "opacity_min": 0.1,
                  "sync": false
                }
              },
              "size": {
                "value": 2,
                "random": true,
                "anim": {
                  "enable": false,
                  "speed": 40,
                  "size_min": 0.1,
                  "sync": false
                }
              },
              "line_linked": {
                "enable": true,
                "distance": 120,
                "color": "#424242",
                "opacity": 0.4,
                "width": 1
              },
            },
            "interactivity": {
              "detect_on": "canvas",
              "events": {
                "onhover": {
                  "enable": true,
                  "mode": "grab"
                },
                "onclick": {
                  "enable": false
                },
                "resize": true
              },
              "modes": {
                "grab": {
                  "distance": 140,
                  "line_linked": {
                    "opacity": 1
                  }
                },
                "bubble": {
                  "distance": 400,
                  "size": 40,
                  "duration": 2,
                  "opacity": 8,
                  "speed": 3
                },
                "repulse": {
                  "distance": 200,
                  "duration": 0.4
                },
                "push": {
                  "particles_nb": 4
                },
                "remove": {
                  "particles_nb": 2
                }
              }
            },
            "retina_detect": true
          });
</script>
{% endblock %}