{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base_yun.html.twig' %}
{% block title %}Yunkun Blog{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/blog_page.css') }}"/>
{% endblock %}
{% set bg_image = 'bg-image--12' %}
{% set bradcaump_title = 'summury.blog'|trans %}
{% set breadcrumb_item = 'summury.blog'|trans %}
{% block content %}
<!-- Start Blog Area -->
<div class="pnora__blog__area ptb--60 bg--white blog-index">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Start Single Blog -->
                {% for blog in blogs_paginate %}
                <article class="blog">
                    <div class="title">
                        <span>{{blog.category}}</span>
                        <h4>
                            <a href="./Blog-detail/{{blog.Title}}">{{blog.Title}}</a>
                        </h4>
                        <ul>
                            <li>{{'blog_page.author'|trans}} {{blog.Author}}
                            </li>
                            <li>{{blog.PostDate|date('Y-m-d')}}</li>
                        </ul>
                    </div>
                    <div class="thumb text-center">
                        <a href="./Blog-detail/{{blog.Title}}"><img src="{{ asset('uploads/images/blog/' ~ blog.image) }}" alt="yunkun blog" style="max-height:800px;max-width:100%"></a>
                    </div>
                    <div class="content text-justify">
                        {{blog.PreHtml|raw}} ...
                    </div>
                    <div class="blog__btn">
                        <a class="pr__btn green__btn" href="./Blog-detail/{{blog.title}}">{{'blog_page.readmore'|trans}}</a>
                    </div>
                    <div class="blog__footer">
                        <div class="share">
                            {% if not blog.EditDate|date('Y-m-d H:i:s') is same as(blog.PostDate|date('Y-m-d H:i:s')) or not blog.Editor is same as(blog.Author) %}
                            <p>{{'index_page.edited'|trans}} {{blog.EditDate|date('Y-m-d H:i:s')}} {{'index_page.by'|trans}} {{blog.Editor}}</p>
                            {% endif %}
                        </div>
                    </div>
                </article>
                <!-- End Single Blog -->
                {% endfor %}
                <div class="text-center">
                    {{ knp_pagination_render(blogs_paginate) }}
                </div>
                <!-- Start Banner Area -->
                <div class="pn__banner__area mt--50">
                    <a href="/Blog">
                        <img src="{{ asset('images/bg/4.jpg') }}" alt="yunkun blog">
                    </a>
                </div>
                <!-- End Banner Area -->
            </div>
        </div>
    </div>
</div>
<!-- End Blog Area -->
{% endblock %}