{% trans_default_domain 'FOSUserBundle' %} {% extends 'base_yun.html.twig' %} {% block stylesheets %} {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/pages/profile_page.css') }}" /> {% endblock %} {% set bg_image = 'bg-image--11' %} {% set bradcaump_title = 'user_page.title1' | trans %} {% set breadcrumb_item = 'user_page.title2' | trans%}
{% block content %}
<!-- Start Profile PAge -->
<div class="profile_edit_container">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }} {#
    {{ form_widget(form) }} #}
    <table>
        <tr>
            <th>{{ form_label(form.current_password) }}</th>
            <td>{{ form_errors(form.current_password) }} {{ form_widget(form.current_password) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.plainPassword.first) }}</th>
            <td>{{ form_errors(form.plainPassword.first) }} {{ form_widget(form.plainPassword.first) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.plainPassword.second) }}</th>
            <td>{{ form_errors(form.plainPassword.second) }} {{ form_widget(form.plainPassword.second) }}</td>
        </tr>
    </table>
    <div class="text-center">
        <a href="/profile" class="pr__btn">{{ 'profile_page.back'|trans }}</a>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="pr__btn"/>
    </div>
    {{ form_end(form) }}
</div>
<!-- End Profile PAge -->
{% endblock %}