{% trans_default_domain 'Yunkun' %}
{% extends 'base_yun.html.twig' %}
{% block title %}{{'title.user_page'|trans}}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/user_page.css') }}"/>
{% endblock %}
{% set bg_image = 'bg-image--12' %}
{% set bradcaump_title = 'summury.admin.text4'|trans %}
{% set breadcrumb_item = 'summury.admin.text4'|trans %}
{% block content %} 
<div class="user_page">
    <table class="user_table">
        <thead>
            <tr>
                <th>{{'user_page.table.thead1'|trans}}</th>
                <th>{{'user_page.table.thead2'|trans}}</th>
                <th>{{'user_page.table.thead3'|trans}}</th>
                <th>{{'user_page.table.thead4'|trans}}</th>
                <th>{{'user_page.table.thead5'|trans}}</th>
                <th>{{'user_page.table.thead6'|trans}}</th>
                <th>{{'user_page.table.thead7'|trans}}</th>
                <th>{{'user_page.table.thead8'|trans}}</th>
                <th>{{'user_page.table.thead9'|trans}}</th>
                <th>{{'user_page.table.thead10'|trans}}</th>
                <th class="a">{{'user_page.table.thead11'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_paginate %}
            {% if loop.index %2==0 %}
            <tr class="user_table_tr bg_grey">
            {% else %}
            <tr class="user_table_tr">
            {% endif %}
            {% set sex = 'variables.sex.' ~ user.sex %}
            {% if user.enable %}
                {% set enable = 'variables.enable.y' %}
            {% else %}
                {% set enable = 'variables.enable.n' %}
            {% endif %}
                <td data-th="{{'user_page.table.thead1'|trans}}">{{user.username}}</td>
                <td data-th="{{'user_page.table.thead2'|trans}}">{% if user.firstname|length == 0 %}<i>NULL</i>{% else %}{{user.firstname}}{% endif %}</td>
                <td data-th="{{'user_page.table.thead3'|trans}}">{% if user.lastname|length == 0 %}<i>NULL</i>{% else %}{{user.lastname}}{% endif %}</td>
                <td data-th="{{'user_page.table.thead4'|trans}}">{% if user.sex|length == 0 %}<i>NULL</i>{% else %}{{sex|trans}}{% endif %}</td>
                <td data-th="{{'user_page.table.thead5'|trans}}">{{user.email}}</td>
                <td data-th="{{'user_page.table.thead6'|trans}}">{% if user.phone|length == 0 %}<i>NULL</i>{% else %}{{user.phone}}{% endif %}</td>
                <td data-th="{{'user_page.table.thead7'|trans}}">{{user.role[0]}}</td>
                <td data-th="{{'user_page.table.thead8'|trans}}">{% if user.lastlogin|length == 0 %}<i>NULL</i>{% else %}{{user.lastlogin|date('Y-m-d h:i:s')}}{% endif %}</td>
                <td data-th="{{'user_page.table.thead9'|trans}}">{{user.regsterdate|date('Y-m-d h:i:s')}}</td>
                <td data-th="{{'user_page.table.thead10'|trans}}">{{enable|trans}}</td>
                <td data-th="{{'user_page.table.thead11'|trans}}" class="a">
                    <a href="./preupdate/{{user.username}}" class="pr__btn blue_btn">{{'user_page.table.edit'|trans}}</a>
                    <a id="delete_confirm" class="pr__btn red_btn">{{'user_page.table.delete'|trans}}</a>
                </td>
            </tr>
            <div class="modal__conrfim__delete">
                <div class="backgroud"></div>
                <div class="window text-center">
                    <div class="title">{{'user_page.modal.delete_confirm'|trans}}</div>
                    <div class="options">
                        <a class="pr__btn red__btn" href="./remove/{{user.username}}">{{'user_page.modal.y'|trans}}</a>
                        <a class="pr__btn blue_btn" id="cancel_delete">{{'user_page.modal.n'|trans}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {{ knp_pagination_render(users_paginate) }}
    </div>
    
</div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/pages/yunkun.js') }}"></script>
{% endblock %}